# Tenant: ${TENANT_SLUG}
# Généré par deploy/new-tenant.sh
TENANT_SLUG=${TENANT_SLUG}
TENANT_NAME=${TENANT_NAME}
TENANT_DB_NAME=${TENANT_DB_NAME}
TENANT_REDIS_DB=${TENANT_REDIS_DB}
TENANT_API_PORT=${TENANT_API_PORT}
TENANT_WEB_PORT=${TENANT_WEB_PORT}
TENANT_POS_PORT=${TENANT_POS_PORT}
TENANT_KDS_PORT=${TENANT_KDS_PORT}
TENANT_CLIENT_PORT=${TENANT_CLIENT_PORT}
TENANT_SUBDOMAIN=${TENANT_SUBDOMAIN}
MASTER_POSTGRES_PASSWORD=${MASTER_POSTGRES_PASSWORD}
MASTER_REDIS_PASSWORD=${MASTER_REDIS_PASSWORD}
